BINANCE_API_KEY=buraya_yaz
BINANCE_API_SECRET=buraya_yaz
BINANCE_TESTNET=true

TWELVE_DATA_API_KEY=buraya_yaz
CRYPTOPANIC_API_KEY=buraya_yaz

TELEGRAM_TOKEN=buraya_yaz
TELEGRAM_CHAT_ID=buraya_yaz

PAPER_TRADING=true
